[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
numpy = "*"
nltk = "*"
wordcloud = {path = "wordcloud-1.5.0-cp36-cp36m-win32.whl"}
matplotlib = "*"
gunicorn = "==19.9.0"

[requires]
python_version = "3.6"
